#wrapper {
    max-width: 1200px;
    min-height: 750px;
    margin: auto;
}
body{
    background-color:#EBEBEB;
    font-family: "cabrito-didone-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px 12px;
}
h1{
    font-size: 24px;
}
h2{
    font-family: 'Melodrama-Medium';
    font-weight: 500;
    font-style: normal;
}
.top{
    display: flex;
    
    font-family: 'Melodrama-Medium';
    font-weight: 500;
    font-style: normal;
    color: black;
    margin-bottom: -50px;
    padding:50px;
}
.name{
    margin-right: auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #ECB21F;
    border: 1rem solid;
    margin-bottom: 75px;
    padding: 50px;
}
ul{
    list-style-type: none;
    padding-left: 0;
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal;
}
li{
    padding-top: 15px;
}
a{
    text-decoration: none;  
    color: white
}
a:hover{
    color:#ECB21F;
}
section{
    flex:1;
    margin: 10px;
    flex-direction: column;
    background-color: #B4321B;
    border-radius: 20px;
    border: 1rem solid black;
    text-align: center;
    color: white;
    font-family: "articulat-cf", sans-serif;
    font-weight: 200;
    font-style: normal; 



}
main{
    display: flex;
    justify-content: space-between;

}
#img1{
    background-image: url(images/Clubs.png);
    background-repeat: no-repeat;
}
#img2{
    background-image: url(images/Diamonds.png);
    background-repeat: no-repeat;
}
#img3{
    background-image: url(images/Hearts.png);
    background-repeat: no-repeat;
}
#img4{
    background-image: url(images/Spades.png);
    background-repeat: no-repeat;
}

.banner:hover .leftImg{
    animation-duration: 10s;
    animation-name: slideLeft;
}
.banner:hover .rightImg{
    position: relative;
    animation-duration: 10s;
    animation-name: slideRight;
}
footer{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 250px;

}
.card:hover .back {
    transform: rotateY(180deg);
}
.card:hover .front {
    transform: rotateY(0deg);
}
.back, .front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    transition: 1.5s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}
.back {
    transform: rotateY(0deg);
    color: black;

}
.front{
    padding-top: 25px;
    transform: rotateY(-180deg);
}

@keyframes slideLeft {
    0%{
        margin-left: 0;
    }
    50%{
        margin-left: 80%;
    }
    100%{
        margin-right: 0;
    }
}
@keyframes slideRight {
    0%{
        margin-right: 0;
    }
    50%{
        margin-right: 80%;
    }
    100%{
        margin-right: 0;
    }
}