body{
    background-color:#c1b9b9;
    font-family: "cabrito-didone-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.top{
    display: flex;
    
    font-family: "cabrito-didone-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    margin-bottom: -50px;
    padding:50px;
}
.name{
    margin-right: auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #B4321B;
    border: 1rem solid;
    margin-right: auto;
    margin-bottom: 75px;
    padding: 50px;
}
ul{
    list-style-type: none;
    padding-left: 0px;
    font-family: "cabrito-didone-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li{
    padding-top: 15px;
}
a{
    text-decoration: none;  
    color: white
}
li:hover{
    list-style-type: circle;
    color:white;
}
section{
    padding: 100px 75px;
    flex-direction: column;
    background-color: #B4321B;
    border-radius: 20px;
    border: 1rem solid black;
    text-align: center;
    color: white;
    font-family: "cabrito-didone-normal", sans-serif;
    font-weight: 400;
    font-style: italic;



}
main{
    display: flex;
    justify-content: space-evenly;

}
.back_1{
    background-image: url(/images/Diamonds.png);
}
.banner:hover .leftImg{
    animation-duration: 10s;
    animation-name: slideLeft;
}
.banner:hover .rightImg{
    position: relative;
    animation-duration: 10s;
    animation-name: slideRight;
}
footer{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
@keyframes slideLeft {
    0%{
        margin-left: 0%;
    }
    50%{
        margin-left: 80%;
    }
    100%{
        margin-right: 0%;
    }
}
@keyframes slideRight {
    0%{
        margin-right: 0%;
    }
    50%{
        margin-right: 80%;
    }
    100%{
        margin-right: 0%;
    }
}